@import "tailwindcss";
div.section-content {
  background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-content {
  background-color: rgb(0, 0, 0);
}

/* section 1  */
.invisible-content {
  padding-block: 35px;
  padding-inline: 100px;
  transform: translateY(-50%);
  right: 3%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

/* section 3  */
.posters {
  top: 240px;
}

.leftPoster {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  min-width: 44%;
  transform: translateY(-50%);
  padding-block: 5%;
}

.leftPoster-content {
  margin-top: 5%;
}

.leftPoster-content span:first-child {
  width: max-content;
}

.leftPoster-content span:nth-child(2) {
  font-size: larger;
}

.leftPoster-content span {
  display: block;
  width: 290px;
  margin: auto;
  margin-top: 20px;
}

/* section 4  */
.rightContent {
  background-color: rgba(255, 255, 255, 0.8);
}

.our-projects {
  background-color: rgba(255, 255, 255, 0.8);
}

.our-projects {
  transform: translateY(-50%);
}

.projects .rightContent {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  right: 12%;
  transform: translateY(-50%);
  padding-block: 3%;
  height: 90%;
}

.section-4 .projects {
  margin-top: 40px;
  padding-left: 0;
}

.section-4 .projects .project-content {
  max-width: 55%;
  height: 85%;
  top: 52%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
}

.inner-project-content span {
  display: block;
  margin-top: 5%;
}

/* section 6 slider */
#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* footer  */
footer {
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1280px) {
  .project-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .inner-project-content span {
    font-size: small;
  }

  .inner-project-content span:first-child {
    font-size: larger;
  }
}

@media screen and (max-width: 1024px) {
  div.section-content {
    margin-top: -230px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.8);
    height: 230px;
    position: static;
  }

  div.section-content > div > p {
    font-size: x-large;
    font-weight: bold;
  }

  .section-content > div div {
    font-size: larger;
    font-weight: bold;
  }

  div.section-content > div {
    margin-top: 20px;
  }

  .section-content > div div {
    margin-top: 37px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .leftPoster span:first-of-type {
    font-size: 20px;
    margin-top: -5%;
    width: 290px;
  }

  .leftPoster {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 48%;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .leftPoster-content {
    margin-top: -10px;
    text-align: left;
  }

  .leftPoster-content span:nth-child(odd) {
    font-size: medium;
    margin-top: 15px;
  }

  .leftPoster-content span:nth-child(even) {
    margin-top: 0px;
  }

  .bottomPoster {
    top: 80%;
  }

  .section-4 .projects {
    margin-top: 15%;
    padding-left: 0;
  }

  .inner-project-content span {
    margin-top: 5%;
    font-size: small;
  }

  .project-content {
    width: 100%;
  }

  .projects > div {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .leftPoster {
    padding-top: 50px;
  }

  .leftPoster-content > span {
    font-size: 15px;
  }

  .leftPoster-content span:nth-child(odd) {
    margin-top: 8%;
  }

  .bottomPoster {
    top: 110%;
  }

  .section-4 .projects {
    margin-top: 950px;
  }

  .invisible-content {
    padding-block: 30px;
    padding-inline: 120px;
    right: 3%;
    left: 3%;
    top: 75%;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (max-width: 640px) {
  .leftPoster-content {
    margin-top: 10px;
    position: absolute;
    top: 0%;
    left: 0;
  }

  .leftPoster-content span {
    font-size: x-small;
    width: 200px;
    margin-left: 15px;
  }

  .leftPoster-content span:nth-child(odd) {
    margin-top: 7%;
  }

  .bottomPoster {
    top: 120%;
  }

  .section-4 .projects {
    margin-top: 190%;
    position: relative;
  }

  .projects > div {
    padding-left: 0;
  }

  /* header  */
  .navbar-horizontal {
    display: none;
  }

  .above-header {
    display: none;
  }

  .dropdown {
    top: 0;
    left: 10px;
  }

  .invisible-content {
    padding-block: 25px;
    padding-inline: 70px;
    right: 3%;
    left: 3%;
    top: 75%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .invisible-content > span {
    font-size: medium;
    padding-inline: 5px;
  }

  .invisible-content > span:nth-child(3) {
    font-size: medium;
    margin-top: 9%;
  }
}
